


<div class="container">
	<h1> Student Dashboard </h1><br>
<div class="row">
	<div class="col-md-3 rightbord " >

	<p>
    <%= form_tag(class_search_path, :method => "get", id: "search-form") do %>
  		<%= text_field_tag :class, params[:class], placeholder: "Search Class", :class=>"input-sm"%>
  		<%= submit_tag "Search", :name => nil %>
	<% end %>
   </p>	
   <br>
   <h5>My Classes</h5>

	   <% @courses.each do |classroom| %>

	   		<h5><%= link_to classroom.class_name , classroom_path(classroom) %></h5> <br>

	   <% end %>

   <br>

	
	</div>

	<div class="col-md-9">

	
  




	</div>			
</div>
</div>	
<script src="mediaelement-and-player.min.js"></script>
<script src="//vjs.zencdn.net/4.7/video.js"></script>
<script src="vjs.youtube.js"></script>
