<section class="centro">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-md-10 col-lg-8 col-lg-offset-1 intro-home hidden-xs">
        <h1>Aprende según tus gustos.</h1>
        <p>
          Gastropub chillwave taxidermy tote bag letterpress Brooklyn hashtag, post-ironic Odd Future craft beer lo-fi. Tofu iPhone Portland trust fund pug.
        </p>
        <div class="row botones-intro">
          <div class="col-sm-3 col-md-3 col-lg-3">
            <a class="btn btn-verde-obs btn-lg txt-bold"><i class="fa fa-play-circle"></i> VER VIDEO</a>
          </div>
          <div class="col-sm-2 col-md-2 col-lg-3">
            <a class="btn btn-naranjo btn-lg"> FREE TRIAL</a>
          </div>
        </div>

      </div>

      <div class="libros hidden-xs">
        <img src="dist/img/libros.png" class="img-responsive" alt="Libros">
      </div>
    </div>


    <div class="row intro-home-mobil visible-xs hidden-lg hidden-sm hidden-md">
      <div class="container">
        <div class="row">
          <div class="col-xs-5">
            <h1>Soporte Educacional Personalizado</h1>
          </div>
          <div class="col-xs-6">
            <p>Gastropub chillwave taxidermy tote bag letterpress Brooklyn hashtag, post-ironic Odd Future craft beer lo-fi. Tofu iPhone Portland trust fund pug.
          </div>
        </div>
      </div>

    </div>


  </div>

</section>

<section class="low">
  <div class="container">
    <div class="col-lg-11 col-md-11 col-sm-11 col-lg-offset-1 hidden-xs">
      <h3>¿Por qué <span>CED</span>DUCATION</h3>
      <p>Planificación , anual , mensual y diaria automatizada
      </p>
    </div>

    <div class="botones-log-mob visible-xs text-center">
      <div class="col-xs-12">
        <a href="" class="btn btn-verde ">Ingresar con mi cuenta</a>
      </div>
      <div class="col-xs-12">
        <a href="" class="btn btn-naranjo">Crear Cuenta</a>
      </div>
    </div>

  </div>
</section>


<footer class="footer f">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3 col-lg-2 col-md-3 col-sm-3 col-lg-offset-1">
        <img src="dist/img/logo-footer.png" alt="Logo Footer" class="img-responsive">
        <p class="small hidden-xs">
          Yr lomo Truffaut fixie Thundercats, vegan cold-pressed locavore farm-to-table.
        </p>
      </div>

      <div class="col-lg-4 col-md-5 col-sm-5 col-lg-offset-1 testimonios hidden-xs">
        <div class="row el-testimonio">
          <div class="col-lg-3 col-md-3 col-sm-3">
            <img src="dist/img/sample.jpg" alt="" class="img-responsive img-circle img-thumbnail">
          </div>

          <div class="col-lg-9 col-md-9 col-sm-9">
            <p><span>“</span> Gastropub chillwave taxidermy tote bag letterpress Brooklyn hashtag, post-ironic Odd Future craft beer lo-fi. Tofu iPhone Portland trust fund pug.</p>
          </div>
        </div>

        <div class="row el-testimonio">
          <div class="col-lg-3 col-md-3 col-sm-3">
            <img src="dist/img/sample.jpg" alt="" class="img-responsive img-circle img-thumbnail">
          </div>

          <div class="col-lg-9 col-md-9 col-sm-9">
            <p><span>“</span> Gastropub chillwave taxidermy tote bag letterpress Brooklyn hashtag, post-ironic Odd Future craft beer lo-fi. Tofu iPhone Portland trust fund pug.</p>
          </div>
        </div>

      </div>

      <div class="col-lg-3 col-sm-4-col-md-4 col-lg-offset-1 social hidden-xs">
        <ul class="nav nav-pills">
          <li><a href=""><i class="fa fa-facebook"></i></a></li>
          <li><a href=""><i class="fa fa-twitter"></i></a></li>
          <li><a href=""><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>

    </div>
  </div>
</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>







